@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Dancing+Script&display=swap');

/* Card styling */
.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Dancing Script';
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333333;
}

.form-group input[type="text"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333333;
    font-family: 'Dancing Script';
}

.form-group input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.submitBtn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Dancing Script';
}

.submitBtn:hover {
    background-color: #0056b3;
}

.required::after {
    content: ' *';
    color: red;
}